apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: h3llra1s3r
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.h3llra1s3r.svc.cluster.local:9090
        isDefault: true
