apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: h3llra1s3r
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: mmihov11/order-service:1.4
          ports:
            - containerPort: 8080
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"

            - name: ConnectionStrings__Orders
              valueFrom:
                secretKeyRef:
                  name: h3llra1s3r-secrets
                  key: ORDER_CONNECTION

---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: h3llra1s3r
spec:
  type: LoadBalancer
  selector:
    app: order-service
  ports:
    - port: 8080
      targetPort: 8080
