apiVersion: apps/v1
kind: Deployment
metadata:
  name: design-service
  namespace: h3llra1s3r
spec:
  replicas: 1
  selector:
    matchLabels:
      app: design-service
  template:
    metadata:
      labels:
        app: design-service
    spec:
      serviceAccountName: design-sa
      automountServiceAccountToken: true
      containers:
        - name: design-service
          image: mmihov11/design-service:1.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              protocol: TCP

          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"

            # DB credentials
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: h3llra1s3r-secrets
                  key: POSTGRES_USER

            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: h3llra1s3r-secrets
                  key: POSTGRES_PASSWORD

            # DESIGN DB connection
            - name: ConnectionStrings__Design
              valueFrom:
                secretKeyRef:
                  name: h3llra1s3r-secrets
                  key: DESIGN_CONNECTION

          livenessProbe:
            httpGet:
              path: /health/live
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 2
            successThreshold: 1
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
            successThreshold: 1
            failureThreshold: 3

          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: design-service
  namespace: h3llra1s3r
spec:
  type: ClusterIP
  selector:
    app: design-service
  ports:
    - port: 8080
      targetPort: 8080
