apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: readonly-role
  namespace: h3llra1s3r
rules:
  - apiGroups: [""]
    resources:
      - pods
      - pods/log
      - services
    verbs: ["get", "list"]
  - apiGroups: ["apps"]
    resources:
      - deployments
      - replicasets
    verbs: ["get", "list"]
