apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: h3llra1s3r
spec:
  selector:
    app: catalog-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
